<div id="sidebar">
    <ul>
        <li>
            <a href="/"><img src="/images/disney-logo.png" alt="Disney logo" class="logo"></a>
        </li>
        <li><a href="http://localhost:3000/characters">Lista de personajes</a></li>
        <li><a href="http://localhost:3000/characters/add">Agregar personaje</a></li>

        <li><a href="http://localhost:3000/movies">Lista de peliculas/series</a></li>
        <li><a href="http://localhost:3000/movies/add">Agregar pelicula/serie</a></li>

        <li><a href="http://localhost:3000/genres">Lista de generos</a></li>
        <li><a href="http://localhost:3000/genres/add">Agregar genero</a></li>

        <% if(locals.token) { %>
            <li><a href="http://localhost:3000/auth/logout">Logout</a></li>
        <% } else { %>
            <li><a href="http://localhost:3000/auth/login">Login</a></li>
            <li><a href="http://localhost:3000/auth/register">Registrarse</a></li>
        <% } %>

        
    </ul>
</div>